{% if session.get('user') %}
    {% if session['user']['roles'] == 'admin' %}
        {% extends 'layouts/app2.html' %}
    {% elif session['user']['roles'] == 'user' %}
        {% extends 'layouts/app.html' %}
    {% endif %}
{% else %}
{% extends 'layouts/app.html' %}
{% endif %}

{% block content %}
<div class="card card-default">
    <div class="card-body">
        <center><h3><b>{{ APP_NAME }}</b></h3></center>
        <img style="width: 50rem; display: block; margin: auto;" src="static/adminlte/dist/img/dashboard.jpg">
    </div>
</div>
{% endblock %}
